body{
    background:#a9ebff;
}
#isomatric-city {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 950px;
    max-width: 100%;
    height: 750px;
    max-height: 100vh;
}
#isomatric-city svg{
    max-width: 100%;
}
.building, .building_elem, #building3_banner, #small_trees, #trees_left, #trees_right, #fancing, #fancing_surface, #chairs, #ground, #roads, #building_surface, .car, .text{
    visibility: hidden;
    opacity: 0;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
.playground-header{
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    align-self: start;
    justify-self: start;
}
/*Playground buttons*/
.playground-links {
    position: relative;
    display: flex;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
.playground-icons {
    display: inline-block;
    margin: 0.15em;
    padding: 0.25em;
    color:#808080;
}
.playground-icons:hover{
    color:#333;
}
.playground-header h1{
    font-size: 16px;
    margin: 0 0 0 0.5em;
    color:#333;
}
.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}